@font-face {
  font-family: RussoOne;
  src: url(./font/RussoOne-Regular.ttf);
  font-style: Regular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292929;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 900px) {
    width: 98vw;
  }

  #presets {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgba($color: #6b6b6b, $alpha: 0.8);
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    @media screen and (max-width: 900px) {
      justify-content: start;
    }
    .preset-btn {
      cursor: pointer;
      border: none;
      background-color: rgba($color: #424242, $alpha: 0);

      &:hover {
        transition: all 0.3s ease;
        transform: translateY(-5px);
      }

      .preset-img {
        border: none;
      }
    }
  }

  #editor {
    display: flex;
    gap: 15px;
    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }

    #container {
      border: 1px solid black;
    }
    .editor-controll {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .themes {
        display: flex;
        justify-content: center;
        gap: 5px;
        
        
        .theme {
          width: 40px;
          height: 40px;
          border: none;
          border-radius: 10%;
          cursor: pointer;
          opacity: 0.95;
          
          &:hover{
            opacity: 1;
            transition: all 0.3s ease;
            transform: translateY(-5px);
          }
        }
        .theme-blue {
          background-color: #46a8ef;
        }

        .theme-dark-blue {
          background-color: #1b0394;
        }

        .theme-red {
          background-color: #780707;
        }

        .theme-green {
          background-color: #02ad21;
        }

        .theme-yellow {
          background-color: #feb920;
        }
        .theme-grey {
          background-color: #494949;
        }

        .theme-white {
          background-color: #fff;
        }

      }

      #opacity-range{
        width: 80%;
        color:#408fc7;
      }


      .editor-text {
        width: 100%;
        textarea {
          width: 100%;
          height: 50px;
          resize: none;
          border: none;
          font-size: 1.5em;
        }
      }

      .controll-input {
        background-color: #292929;
        height: 40px;
        border: 1px dashed #408fc7;
        cursor: pointer;
        position: relative;
        background-image: url('./images/icons/icon-plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;

        &:hover{
          border-color: white;
          transition: all 0.3s ease;
        }

        input[type='file'] {
          color: transparent;
          opacity: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .controll-btn {
        cursor: pointer;
        border: none;
        background-color: #292929;
        color: rgba($color: #fff, $alpha: 0.8);
        &:hover {
          transition: all 0.3s ease;
          transform: translateY(-5px);
        }
        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
