
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #292929;
}


.wrapper{
  margin:0 auto;
  max-width:1200px;
  display:flex;
  flex-direction:column;
  align-items: center;
  
  @media screen and (max-width:900px){
    // background-color:red;  
    width:98vw;
  }

  & >div {
    border:1px solid red;
  }

  #presets{
    display: flex;
    justify-content: center;
    gap:5px;
    .preset{
      width:50px;
      height: 50px;
      border-radius:1em;
      border:none;
    }
  }

  #editor{

    display: flex;

    @media screen and (max-width:900px){
      width:100%;
      flex-direction: column;
    }


    #container{
      // border:1px solid black;
      // width:800px;
      // height: 445px;
      border: 1px solid black;
     
    }
    .editor-controll{
      display: flex;
      flex-direction: column;
      gap:5px;
    }


  }

  


}


input[type=file]{
  width:110px;
  color:transparent;
}


