@font-face {
  font-family: RussoOne;
  src: url(./font/RussoOne-Regular.ttf);
  font-style:Regular;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292929;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 900px) {
    // background-color:red;
    width: 98vw;
  }

  & > div {
    // border:1px solid red;
  }

  #presets {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgba($color: #424242, $alpha: 0.8);
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    @media screen and (max-width: 900px) {
      justify-content: start;
    }
    .preset-btn {
      cursor: pointer;
      border: none;
      background-color: rgba($color: #424242, $alpha: 0);

      &:hover {
        transition: all 0.3s ease;
        transform: translateY(-5px);
      }

      .preset-img {
        border: none;
      }
    }
  }

  #editor {
    display: flex;
    gap:15px;
    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }

    #container {
      border: 1px solid black;
    }
    .editor-controll {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      .editor-text{
        width:100%;
        textarea{
          width: 100%;
          height:50px;
          resize: none;
          border:none;
          font-size:1.5em;
        }
      }
      

      .controll-input {
        background-color: #292929;
        height: 40px;
        border: 1px dashed #408FC7;
        cursor: pointer;
        position: relative;
        background-image: url('./images/icons/icon-plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        width:100%;

        input[type='file'] {
          color: transparent;
          opacity: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .controll-btn {
        cursor: pointer;
        border: none;
        background-color: #292929;
        color: rgba($color: #fff, $alpha: 0.8);

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
